
// transition
@mixin transition($type, $time) {
	transition: $type $time ease-in-out;
}

// buttons
@mixin btn($color) {
	background: $color;
	display: inline-block;
	padding: 0.5em 1.55555556em;
	color: white;
	font-family: $headerfont;
	border-radius: 0.16666667em;
	line-height: 1;
	font-weight: normal;
	
	&:hover {
		background: lighten($color, 6);
	}
}

// extends
.pointer {
	cursor: pointer;
	cursor: hand;
}
.clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}

// titles
@mixin ztitle($background, $color) {
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 1.2;
	
	&:before {
		content: '';
		display: block;
		height: 0.05555556em;
		background: $lightblue;
		margin-bottom: -0.83333333em;
		position: absolute;
		top: 0.77777778em;
		width: 100%;
	}
	h1, h2, h3, h4, h5, h6 {
		background: $background;
		display: inline-block;
		position: relative;
		padding: 0 1.11111111em;
		text-transform: uppercase;
		color: $color;
	}
}

// icons
@mixin fontawesome($content) {
	content: $content;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
