// variables

// colors
$bodybg: white;
$blue: #127687;
$tan: #E3CD8D;
$darkertan: #CDBA83;
$green: #2D8712;
$yellow: #C2AA0C;
$bodytext: #585344;

// fontts
$bodyfont: Lora, Georgia, serif;
$headerfont: Source Sans Pro, Helvetica, Arial, sans-serif;