// variables

// colors
$bodybg: white;
$darkgrey: #35383D;
$darkestgrey: #313337;
$lightgrey: #F7F7F7;
$lightblue: #98A4AC;
$blue: #4A9E9E;
$green: #9CBF54;
$pink: #ED7070;
$bodytext: #444;

// fontts
$bodyfont: Lora, Georgia, serif;
$headerfont: Source Sans Pro, Helvetica, Arial, sans-serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;;