// layout

.row {
  width: calc(100% - 16em);
  @include breakpoint($large) {
    width: 100%;
  }
}
.container {
	@extend .clearfix;
  transition: opacity 0.4s ease-in-out;
}
.cols3 {

	.col {
		@include span(4 of 12);
		
		&:nth-of-type(3n) {
			@include last();
		}
	}
}
.cols4 {
	.col {
		@include span(3 of 12);
		
		&:nth-of-type(4n) {
			@include last();
		}
	}
}
.clear {
	@extend .clearfix;
}

.fullwidth {
  width: calc(100% + 5em);
  margin-left: -2.5em;
  @include breakpoint($large) {
    width: calc(100% + 3em);
    margin-left: -1.5em;
  }
  @include breakpoint($small) {
    width: calc(100% + 2em);
    margin-left: -1em;
  }
}

.shadow-border {
  position: relative;
  &:after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(black, 0.3);
    border-bottom: 1px solid rgba(white, 0.08);
  }
}

.logo {
  position: relative;
  @extend .shadow-border;
  &:hover {
    a {
      background: darken($darkestgrey, 3);
    }
    span {
      color: white;
    }
  }
  
  img {
    width: 1.9em;
    margin-right: 1em;
  }
  
  span {
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    top: -5px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  p {
    margin-bottom: 0;
    color: $lightblue;
    font-size: .9rem;
    padding: 1em 0;
  }
  
  a {
    display: block;
    padding: 1em 1.35em;
    background: $darkestgrey;
    color: white;
  }
  
}
#pagewrap {
  max-width: 80em;
  margin: 0 auto;
}

.fixed-header {
  position: absolute;
  left: 0;
}
header {
  transition: opacity 0.3s ease-in-out;
  background: $darkestgrey;
  width: 100%;
  max-width: 16em;
  position: fixed;
  height: 100vh;
  @include breakpoint($large) {
    opacity: 0;
  }
  
  .mm-wrapper {
    height: 100%;
  }
  
  #on-canvas-menu {
    height: calc(100vh - 10.6111111em);
    width: 100%;
    top: 4.88888889em;
    background: $darkgrey;
    @include breakpoint($large) {
      top: 3.33333333em;
      height: calc(100vh - 9.05555556em);
    }
    li {
      position: relative;
      a {
        font-size: 0.8125rem;
        color: $lightblue;
        display: block;
        position: relative;
        &:hover,
        &:focus {
          background: rgba(black, 0.1);
          color: $pink;
        }
        &:before {
          @extend .fa;
          color: white;
          margin-right: 7px;
        }
        
        &.mm-next {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 99;
          &:after {
            @include fontawesome('\f105');
            color: rgba($lightblue, 0.4);
            position: absolute;
            right: 0;
            font-size: 1.3125rem;
            right: 1.35em;
            top: 50%;
            margin-top: -0.5em;
          }
          &:hover + a,
          &:focus + a {
            background: rgba(black, 0.1);
            color: $pink;
          }
        }
        &:not(.mm-next) {
          padding: .7em 2em;
          @extend .shadow-border;
        }
      }
       &:last-child:after a {
        display: none;
      }
    }
    p.bio {
      font-size: 0.875rem;
      font-weight: 300;
      padding: 1em 2em 2em;
      color: white;
      margin-bottom: 0;
      @extend .shadow-border;
    }
    .img-standin {
      display: block;
      width: 100%;
      background: rgba(white, 0.3);
      height: 9.375em;
    }
    > .mm-panel {
      padding: 0;
      
      li:first-child a:not(.mm-next) {
        padding: 1.5em 2em .7em;
      }
      li:first-child a.mm-next:after {
        margin-top: -0.35em;
      }
    }
    .mm-listview {
      position: relative;
    }
    .mm-panel {
      transition: transform 0.2s ease-in-out;
    }
    .mm-header {
      position: relative;
      @extend .shadow-border;
      border: none;
      
      .mm-prev {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 99;
        &:before {
          @include fontawesome('\f104');
          top: 1.4em;
          font-size: 1.3125rem;
          color: rgba($lightblue, 0.4);
          left: 1.35em;
          position: absolute;
          border: none;
          transform: none;
        }
        &:hover {
          background: rgba(black, 0.1);
          
          + a {
            color: $pink;
          }
        }
      }
      .mm-title {
        color: $lightblue;
        font-size: 1rem;
      }
    }
  }
  .hdr-footer {
    position: absolute;
    bottom: 0;
    color: rgba($lightblue, 0.8);
    font-size: .7rem;
    padding: 1.5em 1em 2em;
    background: $darkestgrey;
    width: 100%;
    display: block;
    text-align: center;
    @extend .shadow-border;
    &:after {
      bottom: auto;
      top: 0;
    }
  }
  .socialmedia {
    margin-bottom: 1em;
    
    li {
      display: inline-block;
      font-size: 1.6rem;
      margin-right: 0.33333333em;
      a {
        display: block;
        i {
          color: white;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}

.content-left {
  @include span(8 of 12 last);
  z-index: 2;
	padding-bottom: 3.88888889rem;
  @include breakpoint($largest) {
    @include span(12 of 12 last);
    padding-bottom: 1em;
  }
}
aside.sidebar {
  @include span(4 of 12);
  @include breakpoint($largest) {
    @include span(12 of 12 last);
    padding-bottom: 1em;
  }
}
.portfolio-list {
  .item {
    display: block;
    width: 100%;
    height: 12.5em;
    background: darken($blue, 20);
    margin-bottom: 2em;
    max-height: 14.0625em;
    overflow: hidden;
    @include breakpoint($largest) {
      height: 17.5em;
      max-height: none;
    }
    @include breakpoint($small) {
      height: 18.5em;
    }
    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(8) {
      background: darken($green, 20);
    }
    &:nth-child(3),
    &:nth-child(6) {
      background: darken($pink, 20);
    }
    
    .holder {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      
      img,
      .reveal,
      .thumb {
        transition: transform 0.4s ease-in-out,
                    opacity   0.4s ease-in-out;
      }
      
      .thumb {
        opacity: 0.4;
        width: calc(100% + 5em);
        margin-right: -5em;
        display: block;
        height: 100%;
        background-size: cover;
      }
      .logo,
      h4 {
        position: absolute;
        top: 50%;
        margin-top: -2em;
        max-width: 18em;
        max-height: 4em;
        left: 3.875em;
        @include breakpoint($largest) {
          margin-top: -4em;
        }
        @include breakpoint($small) {
          transform: none !important;
          margin: 0 auto;
          position: relative;
          top: -15em;
          left: auto;
          display: block;
          padding: 0 2em;
          max-width: 100%;
        }
      }
      h4 {
        transition: transform 0.4s ease-in-out;
        color: white;
      }
      .reveal {
        position: absolute;
        top: 50%;
        margin-top: -1.08333334em;
        right: 3em;
        opacity: 0;
        transform: translateY(2em);
        @include breakpoint($largest) {
          margin-top: 2.55555556em;
          right: auto;
          left: 3em;
        }
        @include breakpoint($small) {
          opacity: 1;
          transform: none;
          position: relative;
          top: -12.2222222em;
          bottom: 0;
          left: auto;
          right: auto;
          width: 100%;
          text-align: center;
          margin-top: 0;
          
          .btn {
            display: block;
            margin: 0 3em 1em;
          }
        }
      }
    }
    &:hover {
      .logo,
      h4 {
        transform: translateX(-1em);
      }
      .thumb {
        opacity: 0.2;
        transform: translateX(-5em);
      }
      .reveal {
        transform: translateY(0);
        opacity: 1;
        
      }
      @include breakpoint($small) {
        transform: none;
        .logo,
        h4,
        .thumb,
        .reveal {
          transform: none;
        }
      }
    }
  }
}

.touch .portfolio-list {
  .logo, h4 {
    transform: translateX(-1em);
  }
  .thumb, .reveal {
    transform: none !important;
  }
  .reveal {
    opacity: 1 !important;
  }
}

.btn {
  transition: all 0.2s ease-in-out;
  background: white;
  display: inline-block;
  padding: 1em 2em;
  color: #000;
  font-size: 0.8125rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  &.blue {
    background: $blue;
    color: white;
    margin-right: 1em;
    &:hover {
      background: lighten($blue, 4);
    }
  }
  &.pink {
    background: $pink;
    color: white;
    margin-right: 1em;
    &:hover {
      background: lighten($pink, 4);
    }
    @include breakpoint($small) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0.5em;
    }
  }
  &.green {
    background: $green;
    color: white;
    margin-right: 1em;
    &:hover {
      background: lighten($green, 4);
    }
  }
}

.back-to-portoflio {
  width: 8.84615385em;
  margin: 0;
  position: absolute;
  left: 0;
  z-index: 2;
}
.site-meta {
  width: 100%;
  text-align: center;
  z-index: 1;
  @include breakpoint($larger) {
    top: 3.07692308em;
    position: relative;
    text-align: left;
  }
  
  li {
    &:after {
      content: '|';
      padding: 0 0.46153846em 0 0.84615385em;
      font-weight: 300;
    }
    &:last-child:after {
      display: none;
    }
  }
}
.portfolio-nav {
  width: 6em;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 2;
}

article.post {
  margin-bottom: 2em;
}

.left-column {
  width: 50%;
  float: left;
  height: calc(100vh - 2.5em);
  padding-bottom: 1em;
  padding-right: 1em;
  overflow-y: scroll;
  @include breakpoint($largest) {
    width: 100%;
    padding-right: 0;
    height: auto;
    padding-bottom: 2em;
  }
}
.right-column {
  @include span(6 of 12 last);
  height: 100vh;
  background: darken($blue, 5);
  position: absolute;
  top: 0;
  right: 0;
  @include breakpoint($largest) {
    width: calc(100% + 5em);
    position: relative;
    clear: both;
    height: auto;
    right: auto;
    float: none;
    margin-left: -2.5em;
    padding-bottom: 4em;
    margin-bottom: -2em;
  }
  @include breakpoint($large) {
    width: calc(100% + 3em);
    margin-left: -1.5em;
  }
  @include breakpoint($small) {
    width: calc(100% + 2em);
    margin-left: -1em;
  }
}


.gallery-cell {
  text-align: center;
  padding-top: 6em;
  @include breakpoint($small) {
    padding-top: 4em;
  }
  
  img {
    margin: 0 auto;
    
    &.ipad {
      width: 18.75em;
      @include breakpoint($small) {
        width: 11em;
      }
    }
    &.iphone {
      width: 12.5em;
      @include breakpoint($small) {
        width: 7.5em;
      }
    }
    &.macbook {
      width: 600px;
      padding-top: 5em;
    }
    &.browser {
      width: 18em;
      overflow: hidden;
      border-radius: 4px;
    }
  }
}
.flickity-page-dots {
  bottom: -3em;
}

.slick-prev {
  font-size: 100%;
  left: 0.75em;
}
.slick-next {
  font-size: 100%;
  right: 0.75em;
}
.mob-menu {
  display: none;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background: $darkestgrey;
  @include breakpoint($large) {
    display: block;
  }
  
  &.menu-open {
    transform: translateX(16em);
  }
  
  .logo a {
    padding: .4em 1.35em .2em;
    background: transparent;
    width: auto;
    display: inline-block;
  }
  
  .mob-menu-trigger {
    position: absolute;
    right: 1.5em;
    top: 1.22222222em;
    cursor: hand;
    cursor: pointer;
    
    i {
      color: white;
    }
  }
}

.overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.menu-open .overlay {
  display: block;
}
